body {
  margin: 0;
  font-family: 'Koulen', cursive;
}
a {
  /* a태그에 밑줄표시 제거 */
  text-decoration: none; 
  color: white;
}
.container {
  display : flex;
  justify-content: space-between;
  align-items: center;
  background-color: #263343;
  /* 컨테이너에 padding을 주는 이유는 양옆에 너무 붙어있기 때문에 */
  padding: 8px 12px;
}
.container .header__logo {
  /* FONT AWSSOME은 폰트이기 때문에 폰트사이즈로 사이징 */
  font-size: 24px;
  color: white;
}
.container .header__logo i {
  color: yellow;
}
.container .header__menu {
  display: flex;
  padding-left: 0;
}
.container .header__menu li{
  padding:8px 12px;
}
.container .header__menu li:hover{
  background-color: orange;
  border-radius: 5px;
}
.container .header__links a {
  padding: 8px 12px;
}
.container .header__toogleBtn {
  position: absolute;
  right: 32px;
  font-size: 24px;
  display: none;
}

@media screen and (max-width:780px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 12px;
  }
  .header__menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .header__menu li {
    width: 100%;
    text-align: center;
  }
  .header__links {
    justify-content: center;
    width: 100%;
    padding-left: 0;
  }
  .header__toogleBtn {
    display: block;
  }

  .header__menu.active,
  .header__links.active {
    display:flex;
  }
}



